<main id="root">
  <!-- TODO Build the skeleton here with header, main, and footer. -->
  <div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
  </div>
</main>
