<!-- TODO Build the skeleton here with header, main, and footer. -->
<!-- <div ng-app="">
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
</div> -->
<header>
  <!-- Make the header associated with another controller -->
  This is header
</header>
<!-- Use an ng-view here. -->
<!-- Build the router, show a simple page in the ng-view -->
<!-- <main ng-controller="BabeListController">
  <ul>
    <li ng-repeat="babe in babes">
      <span>{{babe.name}}</span>
    </li>
  </ul>
</main> -->
<!-- <babe-list></babe-list> -->
<div ng-view></div>
<footer>
  This is footer
</footer>
